<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div style="width:100%;text-align:center;font-family:Arial;">
        <div style="background-color:black;width:400px;padding:10px;margin:auto">
            <h2 style="color:#57dfb7;" th:text="${title}"></h2>
            <span style="color:white;overflow-wrap:break-word;word-break:break-word" th:text="${message}"></span>
            <p><a style="color:#57dfb7;" th:href="${link}" th:text="${label}"></a></p>
        </div>
    </div>
</body>
</html>